.header__container {
    position: relative;
}

.container {
    position: absolute;
    height: 200vh;
    width: 100%;
    object-fit: cover;
    margin-right: 200px;
    top: 0;
    overflow: hidden;
    background-image: url('https://img2.storyblok.com/1920x2716/filters:format(webp):quality(70)/f/133769/3000x4243/d3431d848d/exo-ape-hero.jpg');
}

.header__title {
    span {
        font-weight:100;
        font-size: 40vh;

    }
    position: absolute;
    left: 130px;
    top: 40%;
    width: 100vw;
    font-size: 20px;
    line-height: 2.3em;
    font-weight:200;

}
.header__paragraph {
    position: absolute;
    color: white;
    left: 120px;
    top:500px;
    font-size: 3vh;
    font-weight: 100;

}

.container__img {
    background-image: url('https://img2.storyblok.com/1920x2716/filters:format(webp):quality(70)/f/133769/3000x4243/d3431d848d/exo-ape-hero.jpg');

}

.text {
    position: fixed;
    top: 50%;
    left: 40%;
  }
  