@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Bodoni:ital,wght@0,400;0,600;0,700;1,400&family=Noto+Serif:wght@400;700&family=PT+Serif:wght@400;700&family=Poppins:wght@300;400;700;900&display=swap');





*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  /* font-family: 'Noto Serif', serif; */


}
p {
  font-family: 'Poppins', sans-serif;

}
  body {
  /* The image used */
  background: #8e93ff;
  /* background: #181818; */
  /* background: #1d2824; */
  /* Add the blur effect */

  /* Full height */
  height: 100%;      overflow-x: hidden;
      overflow-y: scroll;
    
    
  }
