.container {
    width: 130%;
    height: 70vh;
    background: #47f654;
        display: flex;
    flex-direction: column;
    justify-content: center;
    div {
        h1 {
            color: #181818;
            font-size: 10em;

        }
    }
}